@font-face {
  font-family: "MyFont";
  src: url("./RobotoMono-VariableFont_wght.ttf");
  font-weight: 400;
}

.hello {
  color: red;
  font-family: "MyFont";
  font-size: 30px;
  background: url("./icon.png");
}
